<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="commentListFragment">
  		<div th:if="${comment}">
  		  	<div class="container col-md-8">
  			<div class="card-header bi-chat-dots">[[${comment.size}]] 개의 댓글 </div>
  			<!--  댓글 목록 -->

  			<div th:each="comment:${comment}">
	  			<ul class="list-group-flush">
	  				<li id="comment-${id}" class="list-group-item">
						<span>
							<span style="font-size: xx-small">[[${comment.createdDate}]]</span>
						</span>
	  					<a type="button" data-toggle="collapse" data-target=".multi-collapse-${id}"
	  						class="bi bi-pencil-square">수정</a> <!-- 댓글 수정 버튼 -->
	  					<a type="button" th:attr="onclick=|main.commentDelete('${post.id}','${comment.id}')|" class="bi bi-pencil-square">삭제</a> <!-- 댓글 삭제 버튼 -->
	  						
	  					<!-- 댓글 내용 보기 -->
	  					<div th:text="${comment.content}"></div>
	  					
	  					<!-- 댓글 내용 수정 -->
	  					<form class="collapse multi-collapse-${id}">
	  						<input type="hidden" id="id" value="${id}">
	  						<input type="hidden" id="postId" value="${postId}">
	  						
	  						<div class="form-group">
	  							<textarea class="form-control" id="comment-content" rows="3">[[${comment.content}]]</textarea>
	  						</div>
	  						<button type="button" id="btn-comment-update" class="btn btn-outline-primary bi bi-pencil-square">수정</button>
	  					</form>
	  				</li>
	  		  	</ul>
  		  	</div>
  			</div>
  		</div>
  </div>
 </html>